fastapi
uvicorn
pandas
xgboost
scikit-learn
celery
redis
SQLAlchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-multipart
slowapi
fastapi-cache2[redis]
python-dotenv
reportlab
aiosmtplib
